@import "tailwindcss";

@theme {
  --animate-fade-in: fade-in 0.4s ease-in-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 10px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    @apply h-[10%] bg-blue-500 rounded-full;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-700 rounded-full;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    @apply bg-blue-100;
  }
}
